body{
    background-color: #098b69;
    text-align: center;
}
.div{
   margin-left: 380px ;
    background-color: mintcream;
    width: 180px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px 40px 20px 40px;
}

input{
    display: block;
    border-radius: 3px;
    padding: 10px;
    background: ghostwhite;
}
.b{
    padding: 5px 60px 5px 60px;
    background-color: #098b69;
}

